


<div class="GD">
<table>
    <tr *ngFor="let place of places">
        
       <!--<ng-container *ngIf="!place.isUsed; else imageTemplate">-->
            <td>
                <button (click)="AllerVersTicket(place)" class="btn">Butn</button>
            </td>
 <!--       </ng-container>
        <ng-template #imageTemplate>
            <td>
                <img src="CinemaFront\Cinema_groupe4_front\cinema_front\src\assets\images\fauteuilReserve.png" class="Img">
            </td>
        </ng-template> -->
    
    </tr>
</table>
</div>
