

<div class="barre-recherche">
    <input type="search" id="search" value="" [(ngModel)]="recherche">
    <input type="button" id="button" (click)="recherchercinemaliste()" value="Rechercher un cinema">
</div>
    

  
<div  class="containers" #myDiv0>  
  <div *ngFor="let cinema of cinemarecherche">
    <ul >
      <h1>{{cinema.ville}}</h1>
      <p>{{cinema.nom}}<p>
        <p>{{cinema.rue}}<p>
        <p>{{cinema.codePostal}}<p>
        <p>{{cinema.mail}}<p>
        <p>{{cinema.telephone}}<p>
        <hr>
    </ul>
  </div>
  


  <div *ngIf="cinemarecherche.length == 0"  class="containers" #myDiv>
    <div *ngFor="let cinema of cinemas">
      <ul (click)="selectionnerCinema(cinema)">
        <h1>{{cinema.ville}}</h1>
        <p>{{cinema.nom}}<p>
          <p>{{cinema.rue}}<p>
          <p>{{cinema.codePostal}}<p>
          <p>{{cinema.mail}}<p>
          <p>{{cinema.telephone}}<p>
          <hr>
      </ul>
    </div>

    
  </div>
  
