<header>

    <div class="navbar">
        <div class="logo"><a href="#">Movie Theater Project</a></div>
        <ul class="links">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Film</a></li>
            <li><a href="#">Nos Cinema</a></li>
            <li><a href="#">Avantages</a></li>
            <li><a href="#">Se connecter</a></li>
            <li><a href="#">Créer un compte</a></li>
        </ul>
        <div class="toggle_btn"  #myDiv>
            <i class="fa-solid fa-bars" #myI></i>
        </div>
    </div>
    <div class="dropdown_menu" #myDdm>
        <li><a href="#">Accueil</a></li>
            <li><a href="#">Film</a></li>
            <li><a href="#">Nos Cinema</a></li>
            <li><a href="#">Avantages</a></li>
            <li><a href="#">Se connecter</a></li>
            <li><a href="#">Créer un compte</a></li>
    </div>
</header>
