<header>

    <div class="navbar">
        <div class="logo"><a href="#">Movie Theater Project</a></div>
        <ul class="links">
            <li><a onclick="AllerVersAccueil()" >Accueil</a></li>
            <li><a onclick="AllerVersListeFilm()">Films</a></li>
            <li><a onclick="AllerVersCinemas()">Nos Cinema</a></li>
            <li><a onclick="AllerVersUtilisateur()">Se connecter</a></li>
        </ul>
        <div class="toggle_btn"  #myDiv>
            <i class="fa-solid fa-bars" #myI></i>
        </div>
    </div>
    <div class="dropdown_menu" #myDdm>
        <li><a onclick="AllerVersAccueil()">Accueil</a></li>
            <li><a onclick="AllerVersListeFilm()">Films</a></li>
            <li><a onclick="AllerVersCinemas()">Nos Cinema</a></li>
            <li><a onclick="AllerVersUtilisateur()">Se connecter</a></li>
    </div>
</header>
