<header>

    <div class="navbar">
        <div class="logo"><a href="#">Movie Theater Project</a></div>
        <ul class="links">
            <li><a href="/accueil">Accueil</a></li>
            <li><a href="/listeFilm">Film</a></li>
            <li><a href="/cinemas">Nos Cinema</a></li>
            <li><a href="#">Avantages</a></li>
            <li><a href="/identification">Se connecter</a></li>
        </ul>
        <div class="toggle_btn"  #myDiv>
            <i class="fa-solid fa-bars" #myI></i>
        </div>
    </div>
    <div class="dropdown_menu" #myDdm>
        <li><a href="/accueil">Accueil</a></li>
            <li><a href="/listeFilm">Film</a></li>
            <li><a href="/cinemas">Nos Cinema</a></li>
            <li><a href="#">Avantages</a></li>
            <li><a href="/identification">Se connecter</a></li>
    </div>
</header>
