.container{
    display: flex;
}
.container-film{
    background-color: blue;
    width: 100%;
    height: auto;
    margin-left: 5px;
    padding : 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}
.container-affiche{
    width: 250px;
    background-color: brown;
    margin: 0;
    padding : 0;
    border-radius: 25px 25px 0 0;
}
.container-affiche img{
    width: 250px;
    border-radius: 25px 25px 0 0;
}

.container-text{
    background-color: blueviolet;
    min-height: 250px;
    width: 250px;
    border-radius: 0 0 25px 25px;
}
.container-button{
    width: 150px;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: aqua;
}
