<div class="container">
    <div class="container-film" *ngFor="let filmSemaine of film">
        <div class="container-affiche">
            <img src="{{filmSemaine.afficheUrl}}">
        </div>
        <div class="container-text">
            <h1>{{filmSemaine.titre}}"</h1>
            <button class="container-button" (onclick)="afficherUnFilm(film)">Voir ce
                film</button>
        </div>
    </div>
</div>


<!-- <div *ngFor="let list of filmListe">
    <div *ngFor="let film of list">
        <div>
            <h3>{{film | json}}</h3>
        </div>
    </div>
    <hr>
</div> -->